{% extends "base.html" %}
{% block title %}节点{% endblock %}

{% block page_content %}
    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mYVGC2WXkR6sycVOmd0swObK"></script>
        <script type="text/javascript" src={{ url_for('static', filename="js/jquery.js") }}></script>
        <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root | tojson | safe }}</script>
    {% endblock %}

    <div>
        <a href="#" id="map">地图显示</a>
        <a href="#" id="list">列表显示</a>
        <br><br>
    </div>
    {#    <div id="result"></div>#}
    <div id="allmap" style="width: 100%; height: 600px; float: left"></div>
    <div id="node_table">
        <table class="table">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="text/javascript">
        var map; // 定义全局变量
        $(function () {
            $('a#map').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/jquery/all_nodes', {}, function (data) {
                    {#                    $('#result').text(data.result);#}
                    $('div#node_table').hide();
                    $('div#allmap').show();
                    init_map();
                    show_nodes(data.result);
                });
                return false;
            });
        });
        function init_map() {
            map = new BMap.Map("allmap", {enableMapClick: false}); // 关闭底图可点动能
            map.enableScrollWheelZoom(true);       // 鼠标滚动缩放
            var point = new BMap.Point(117.051534, 36.660632);
            map.centerAndZoom(point, 16);
        }
        function show_nodes(nodes_str) {
            var ns_array = nodes_str.split('-');
            ns_array.forEach(function (element) {
                lng_lat = element.split(',');
                add_lay(lng_lat[0], Number(lng_lat[1]), Number(lng_lat[2]));
            });
        }
        function add_lay(id, lng, lat) {
            // 在（lng,lat)的点标注
            point = new BMap.Point(Number(lng), Number(lat));
            marker = new BMap.Marker(point);
            marker.setLabel(new BMap.Label(id));    //添加标注标签为节点编号
            map.addOverlay(marker);
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('a#list').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/jquery/all_nodes', {}, function (data) {
                    $('div#allmap').hide();
                    $('div#node_table').show();
                    list_nodes(data.result);
                });
            });
        });
        function list_nodes(nodes_str) {
            $('.table>thead').html('<tr><th>编号</th><th>经度</th><th>纬度</th></tr>');
            var ns_array = nodes_str.split('-');
            ns_array.forEach(function (element) {
                lng_lat = element.split(',');
                    $('.table>tbody').append(
                      '<tr><th>'+lng_lat[0]+'</th><th>'+lng_lat[1]+'</th><th>'+lng_lat[2]+'</th></tr>'
                    );
            });
        }
    </script>

{% endblock %}