{% extends "admin/index.html" %}

{% block title %}用户管理界面{% endblock %}

{% block page_content %}
    <button type="button" class="btn btn-primary" id="add">添加新用户</button>
    <button type="button" class="btn btn-primary" id="manage">管理已有用户</button>
    <br><br>

    <div id="add" style="display: none">
        <form action="" class="form-group">
            名字：
            <input type="text" id="name"><br><br>
            邮箱：
            <input type="text" id="email"><br><br>
            密码：
            <input type="text" id="password"><br><br>
            <input type="button" value="添加" class="btn-primary" id="add_user">
        </form>
    </div>

    <div id="manage" style="display: none">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>用户名</th>
                <th>地址</th>
                <th>年龄</th>
                <th>性别</th>
                <th>权限</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><input type="text" value={{ user.name }}></td>
                    <td><input type="text" value={{ user.location }}></td>
                    <td><input type="text" value={{ user.age }}></td>
                    <td><input type="text" value={{ user.sex }}></td>
                    <td><input type="text" value=
                            {% if user.permissions == 128 %}
                                管理员
                            {% elif user.permissions == 2 %}
                               施工方
                            {% else %}
                               普通用户
                            {% endif %}
                    ></td>
                    <td>
                        <button class="btn btn-warning" id="alert">修改</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" id="remove">删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <script>
        $('button#add').bind('click', function () {
            $('div#manage').hide();
            $('div#add').show()
        });

        $('button#manage').bind('click', function () {
            $('div#manage').show();
            $('div#add').hide()
        });

        $('input#add_user').bind('click', function () {
            var name = $('input#name').val();
            var email = $('input#email').val();
            var password = $('input#password').val();
            $.getJSON($SCRIPT_ROOT + '/admin/add_user',
                {name: name, password: password})
        });

        $(function () {
            $('button#manage').click();
        });
    </script>
{% endblock %}


