<!doctype html>
{% extends "base.html" %}

{% block title %}地图{% endblock %}


{% block page_content %}
    <h2>地图显示</h2>
    <div id="container" style="width: 100%; height: 600px; border: 1px solid"></div>

    {% block scripts %}
        {{ super() }}
        <script src="http://webapi.amap.com/maps?v=1.3&key=a7062b1c0ed0b2a3edbd12a7ca216e69"></script>
    {% endblock %}

    <script>
        var map = new AMap.Map('container', {

            zoom: 15,
            center: [117.040791,36.651916]

        });
    var clickEventListener = map.on('click', function(e) {
        alert(e.lnglat.getLng() + ',' + e.lnglat.getLat());
    });

    </script>
{% endblock %}

