<!doctype html>
{% extends "base.html" %}

{% block title %}添加点{% endblock %}


{% block page_content %}
    <h2>添加及删除节点</h2>
    <div style="position: relative; left: 40px">
    <h4>添加</h4>
    <p>通过双击地图中任意位置标注改点，后点击改点显示其经纬度等信息，
        最后点击<span style="color: red;">添加</span>按钮添加节点。</p>
    <h4>删除</h4>
    <p>在节点编号输入框中输入地图中标注点所显示节点编号，再点击
        <span style="color: red;">删除</span>按钮以删除该节点。</p>
    </div>
    <div id="allmap" style="width: 100%; height: 600px; border: 1px solid; float: left"></div>
    <div>
        <form action="{{ url_for('main.save_node') }}" name="f1" style="float: left">
            <input type="text" name="longitude" value="经度" size="12px 10px">
            <input type="text" name="latitude" value="维度" size="12px 10px">
            <input type="text" name="name" value="地名" size="30px 10px">
            <input type="submit" name="add" value="添加">
        </form>
        <form action="{{ url_for('main.delete_node') }}" name="f2" style="position: relative; left: 20px;">
            <input type="text" name="id" value="编号">
            <input type="submit" name="delete" value="删除">
        </form>
    </div>

    <input type="text" class="hidden" name="nodes" value="{{ ns }}">


    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src={{ url_for('static', filename='js/jquery.js') }}></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mYVGC2WXkR6sycVOmd0swObK"></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/init_map.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/marker.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/show_nodes.js') }}></script>
    {% endblock %}
{% endblock %}

